html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
}
.hero-section {
    min-height: 100vh;
    background-image: url('background.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    .hero-section h1 {
      font-size: 2rem;
    }
    .hero-section p {
      font-size: 2rem;
    }
}

.custom-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.hover-scale {
  transition: transform 0.3s ease-in-out;
}

.hover-scale:hover {
  transform: scale(1.05);
}

.availability {
  font-size: 0.85rem;
  padding: 0.35em 0.7em;
  border-radius: 0.5rem;
}

.available {
  background-color: #28a745;
  color: white;
}

.unavailable {
  background-color: #dc3545;
  color: white;
}

.about-image {
  max-width: 100%;
  height: 500px;
  width: 80%;
  display: block;
  object-fit: cover;
}

.menu {
  border: 2px solid #0dcaf0;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu:hover {
  /* Move up and right */
  transform: translate(10px, -10px);
  
 /* Shadow to make it stand out */
  box-shadow: 0 8px 15px rgba(13, 202, 240, 0.6);
}

#about h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

#about p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #555;
}

#about span {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
  margin-top: 10px;
  color: #2c3e50;
}
