.hero-section {
    min-height: 100vh;
    background-image: url('background.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    .hero-section h1 {
      font-size: 2rem;
    }
    .hero-section p {
      font-size: 2rem;
    }
}